[submodule "/home/jonas/projects/github/homeassistant-trias/custom_components/trias/trias_client"]
	path = /home/jonas/projects/github/homeassistant-trias/custom_components/trias/trias_client
	url = https://github.com/JonasJoKuJonas/trias_client.git
